body {
	margin: 0 !important;
}

#container {
	display: grid;
	grid-template-rows: 75% 25%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

#up {
	display: grid;
	grid-template-columns: 20% 80%;
}

#map1 {
	height: 22vh;
}

#tree {
	height: 52vh;
	overflow-y: scroll;
}


#right {
	display: grid;
	grid-template-rows: 15% 15% 70%;
}

#barPart {
	display: grid;
	grid-template-rows: 30px auto;
}

#down {
	display: grid;
	grid-template-columns: 20% 80%;
}

#mapid {
	overflow-x: scroll;
	overflow-y: hidden;
	white-space: nowrap;
}

#mapid .selectMap {
	display: inline-block;
	width: calc((25vh - 20px) * 2);
	height: calc(25vh - 20px);
}



.leaflet-container:hover path.leaflet-interactive {
	visibility: hidden;
}

.leaflet-marker-icon.leaflet-div-icon.light,
.leaflet-pane.leaflet-shadow-pane {
	display: none;
}

.my-leaflet-marker {
	pointer-events: none;
}
