body {
	margin: 0 !important;
	display: grid;
	grid-template-rows: 75% 25%;
	height:1500px;
}

#up{
	display: grid;
	grid-template-columns: 30% 70%;
}

#left {
	display: grid;
	grid-template-rows: 25% 75%;
}



#right {
	display: grid;
	grid-template-rows: 12.5% 12.5% 75%;
}

#barPart{
	display: grid;
	grid-template-rows: 15% 85%;
}


#down{
	display: grid;
	grid-template-columns: 30% 70%;
}

#mapid{
	float:right;
	display: grid;
	grid-template-columns: repeat(2,fr);
}



.leaflet-container:hover path.leaflet-interactive {
	visibility: hidden;
}

.leaflet-marker-icon.leaflet-div-icon.light,
.leaflet-pane.leaflet-shadow-pane {
	display: none;
}

.my-leaflet-marker {
	pointer-events: none;
}


